	* {
		margin: 0;
		padding: 0;
	}
	
	#header {
		width: 1000px;
		margin: 0 auto;
		border: 1px solid #000;
		line-height: 2em;
		padding: 1.5em;
		box-shadow: 5px 5px 5px #ccc;
	}
	
	#header span:nth-of-type(1) {
		font-size: 25px;
		font-weight: 700;
	}
	
	#header span:last-of-type {
		margin-left: 3em;
	}

	#wrap {
		width: 1000px;
		margin: 0 auto;
		margin-top: 20px;
	}
	
	#search-form {
		overflow: hidden;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		padding: 1em;
	}
		
	#search-form form ul {
		list-style-type: none;
	}
	
	#search-form form ul li {
		float: left;
		width: 33.33%;
		margin-bottom: 1em;
		position: relative;
		line-height: 2em;
	}
	
	#search-form form input[type=input] {
		line-height: 2em;
		width: 60%;
		position: absolute;
		right: 2em;
		text-indent: 1em;
	}

	#search-form input[type=submit] {
		float: right;
		font-size: 1.2em;
		width: 100px;
		background-color: #4A4848;
		color: #fff;
	}

	#search-form input[type=submit]:hover {
		background-color: #000;
	}

	#result-show {	
		height: 500px;
		border: 1px solid #aaa;
		padding: 1em;
	}

	#result-show table {
		width: 98%;
		border-collapse: collapse;
		text-align: center;
	}

	#result-show table thead tr{
		height: 2em;
		background-color: #000;
		color: #fff;
	}
